
 a .link  {
    text-decoration: none;
    color: green;
    font-size: 16px;
    float: right;
    margin: -25px;
    margin-right: 26px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
a .linkback{
  text-decoration: none;
    color: green;
    font-size: 16px;
    float: right;
    margin: -25px;
    margin-right: 26px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 285px;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
}
.editButton{
  padding: 5px 10px;
  border-radius: 5px;
  border-spacing: 10px;
  margin-left: 10px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
 
}
.viewButton{
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}

.deleteButton{
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

